<section class="contents">
  <div class="container contents__container">
    <h2 class="contents__title">Contents</h2>
    <p class="contents__subtitle">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>

    <ul class="contents__list">
      <li class="contents__list__item">
        <h3 class="contents__list__title">Work</h3>
        <p class="contents__list__subtitle">
          Ever wondered if you're too reliant on a client for work? Slate helps
          you identify .
        </p>
        <button class="contents__list__btn">Sign Up</button>
        <img
          src="../img/contents/Macbook.png"
          alt=""
          class="contents__list__img"
        />
      </li>

      <li class="contents__list__item">
        <h3 class="contents__list__title">Design with real data</h3>
        <p class="contents__list__subtitle">
          Ever wondered if you're too reliant on a client for work? Slate helps
          you identify .
        </p>
        <button class="contents__list__btn">Try For Free</button>
        <img
          src="../img/contents/BoardsNotifications.png"
          alt=""
          class="contents__list__img"
        />
      </li>
    </ul>
  </div>
</section>
