<header>

  <div class="container header__container">

    <img class="header__logo" src="../img/header/logo dark.png" alt="logo dark">


    <nav>
      <ul class="header__nav__list">
        <li>Home</li>
        <li>Product</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>

    <button class="header__log__btn">
      Login
    </button>

    <button class="btn__burger">
      <svg class="burger" width="44" height="27">
        <use href="../img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>


  </div>


</header>