<section class="hero">
  <div class="container hero__container">
    <div class="hero__text">
      <h1 class="hero__title">Work at the speed of thought.</h1>
      <p class="hero__subtitle">
        Most calendars are designed for teams. Slate is designed for freelancers
        who want a simple way to plan their schedule.
      </p>
    </div>
    <div class="hero__btn">
      <button class="hero__btn__try">Try For Free</button>
      <button class="hero__btn__more">Learn More</button>
    </div>
  </div>
  <img src="../../img/hero/hero-img.png" alt="Hero" class="hero__img" />

  <img
    src="../../img/hero/hero-desktop-img.png"
    alt="Hero"
    class="hero__desktop__img"
  />
</section>
