<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title">Partners</h2>
    <p class="partners__subtitle">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>

    <ul class="partners__list">
      <li class="partners__list__item">
        <svg class="partners__icon1" width="60" height="60">
          <use href="../img/icons.svg#icon-partners1"></use>
        </svg>
      </li>

      <li class="partners__list__item">
        <svg
          class="partners__icon2"
          width="60"
          height="60"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="#623CE4"
            d="M11.044 5.687l9.911 5.035v10.068l-9.911-5.035z"
          />
          <path fill="#4B30B0" d="M22.041 10.721v10.068l9.915-5.035v-10.068z" />
          <path fill="#8169FF" d="M0.047 0.068v10.068l9.911 5.035v-10.068z" />
          <path
            fill="#3A2B9A"
            d="M11.044 26.923l9.911 5.035v-10.064l-9.911-5.035z"
          />
        </svg>
      </li>

      <li class="partners__list__item">
        <svg class="partners__icon" width="60" height="70">
          <use href="../img/icons.svg#icon-partners3"></use>
        </svg>
      </li>

      <li class="partners__list__item">
        <svg class="partners__icon" width="56" height="46">
          <use href="../img/icons.svg#icon-partners4"></use>
        </svg>
      </li>

      <li class="partners__list__item">
        <svg class="partners__icon" width="47" height="51">
          <use href="../img/icons.svg#icon-partners5"></use>
        </svg>
      </li>

      <li class="partners__list__item">
        <svg class="partners__icon" width="83" height="33">
          <use href="../img/icons.svg#icon-partners6"></use>
        </svg>
      </li>
    </ul>

    <button class="partners__btn">All Partners</button>
  </div>
</section>
